@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-3xl font-bold pb-2;
}

h2 {
  @apply text-lg font-semibold pb-2;
}

h3 {
  @apply text-base pb-1;
}

p {
  @apply text-lg text-justify break-words whitespace-pre-wrap ;
}